$color-1: #000000; // Black
$color-2: #ffffff; // white
$color-3: #41c841; // Green light
$color-4: rgb(255,112,2); // Orange
$color-5: rgb(253,0,0); // Red
$color-6: #ced4da; // Light Grey
$color-7: rgb(60,60,60); // Lihgt black
$color-8: rgb(129,129,129); // Dark Grey
$color-9: rgb(255,244,227); // Orange Light
$color-10: rgb(196,188,183); //grey
$color-11: #1079bb;
$color-12: #3c3c3c;
$color-13: #d05f08; //Dark Orange

$border-grey: rgb(244,244,244);
$paragraph-color: rgba(0, 0, 0, 0.8);
$scroll-track: rgba(13, 13, 13, 0.2);
$scroll-thumb: rgba(13, 13, 13, 0.4);


