

h1,h2 {
	font-size: 26px;
	padding-bottom: 5px;
	color: $color-1;
	line-height: 34px;
}

h3 {
	font-size: 22px;
	padding-bottom: 5px;
	color: $color-1;
}

p, li {
	font-size: 14px;
	line-height: 26px;
	color: $color-1;
	margin: 15px 0;
}

li {
	margin: 5px 0;
}

.small-text {
	font-size: 14px;
}