.thank-you {
	background-color: $color-2;
	padding: 15px 0 50px;
	.content-text {
		text-align: center;
		h3 {
			font-size: 17px;
			color: #ff7002;
			padding: 15px 0;
		}
		p{
			padding-bottom: 10px;
			font-size: 14px;
			line-height: 16px;
		}
	}
}